section#footer-section
    .container-fluid
        .section-footer
            .row.top-footer
                .col-12.col-sm-4.footer-block
                    .block-email
                        .icon.email
                        .info електронна скринька
                        .contact-data landscape.design@gmail.com
                .col-12.col-sm-4.footer-block
                    .block-phone
                        .icon.phone
                        .info телефон
                        .contact-data +38 (096) 554-98-98
                .col-12.col-sm-4.footer-block
                    .block-facebook
                        .icon.facebook
                        .info ми в facebook
                        .contact-data @landdesign
            .row.down-footer
                .col-12.col-sm-6.col-md-3.footer-block
                    .block-company-info
                        .logo
                        .name-wrapper
                            .name назва компанії
                            .subname ландшафтний дизайн
                .col-12.col-sm-6.col-md-3.footer-block
                    .block-social
                        a.icon.youtube
                        a.icon.facebook
                        a.icon.instagram
                .col-12.col-sm-6.col-md-3.footer-block
                    .block-development
                        .info сайт розроблено студією
                        .contact-data Company Name
                .col-12.col-sm-6.col-md-3.footer-block
                    .block-design
                        .info дизайнер сайту
                        .contact-data Valentyn Hnot