extends ./shared/layout

block content      

    section.cmp-article
        .section-article.container-fluid
            .row
                .col-12.full
                    .full-img
                        .articleName Растения на террасе:
                            br
                            | 5 вариантов посадки
    section.cmp-full-article
        .section-content.container
            .row    
                .col-12
                    .boldtext С приходом тепла нам все больше времени хочется проводить на свежем воздухе – в окружении зелени и благоухающих цветов. Но что делать, если приусадебная территория не настолько уж большая, чтобы разбивать на ней сад или делать окруженное деревьями патио.
                    .default-text Зелень в больших горшках из бетона, терракоты или дерева – неувядающий тренд европейского ландшафтного дизайна. Такие «украшения» можно увидеть и просто посреди улиц городов, и на частных территориях. Успех их объясняется просто: для подобного озеленения не нужны большие площади, а также открытый грунт, да и сами горшки служат дополнительным элементом декора, превращая растение или группу растений в законченную композицию. Также это идеальный вариант для террас и веранд, если вы любите растения покрупнее – в такие горшки с легкостью можно высаживать даже деревья.
            .row
                .col-12
                    .float-img.img-right
                    .default-text При грамотном планировании ландшафта растения способны максимально интегрироваться в дизайн, стать «живым» дополнением уличной мебели и других, необходимых для отдыха конструкций. Чаще всего их высаживают в высоких (или не очень) ограждающих зоны бордюрах, иногда используют в качестве «подушки безопасности» вокруг больших деревьев на участке. В зависимости от назначения для таких случаев выбирают композиции из луговых или газонных трав, или же красиво цветущие растения.       
            .row
                .col-12
                    .boldtext Декорирование экстерьера.
                    .default-text Этот метод декорирования экстерьера знаком нам давно, тем не менее, он не утрачивает своей актуальности. Разве что сами кашпо теперь используются более креативные. Главное, чтобы материал и стиль горшков отвечал обстановке, материалы и формы же не имеют никаких ограничений! Для эффектного вида сочетайте в одном горшке свисающие и стоячие растения – это даст возможность сформировать более объемную композицию, притянуть внимание контрастом оттенков и текстур листьев.
            .row
                .col-12
                    .float-img.img-left
                    .default-text Этот вариант посадки уличных растений несколько схож с первым, но с той разницей, что в данном случае легче менять месторасположение цветка на участке. Для самых больших горшков идеальный вариант обеспечениям им мобильности – колесики. Для горшков поменьше это могут быть ручки, за которые удобно взять для переноски. Мобильные кадки завоевывают все большую популярность, ведь с ними легко ухаживать за растениями: при надобности переставлять их на солнце или в тень, убирать в дом или возвращать на улицу.
            .row
                .col-12
                    .default-text Оцените свои возможности — готовы ли ухаживать и ждать результата годами (это не фигура речи). Если времени у вас совсем мало — лучше обойтись без арки вовсе или выбрать конструкцию без зелени. Если ухаживать за растениями на арке готовы — планируйте посадки. Но помните, что арка — сильный, заметный акцент. Она должна выглядеть отлично или лучше не иметь её вовсе.
            .row
                .col-12
                    .default-text Ещё одна сложность — выбор материала. Хочется, конечно, дерево. Но чем бы вы его ни пропитали, гнить оно всё равно будет. Другой вопрос, насколько быстро. Пропитав хвойные бруски антисептиком, можно рассчитывать хотя бы на несколько лет беспроблемной эксплуатации. Металлические конструкции тоже корродируют в грунте, но намного медленней. Крашеная сталь или алюминий решат проблему опоры лет на 10—15. Возможный вариант — бетонное основание под металл или дерево, у которых не будет непосредственного контакта с грунтом.  
            .row
                .col-12
                    .float-img.img-center
            .row
                .col-12
                    .default-text С расчетом на зиму можно попробовать сделать арку из рябины (Sorbus), выбрав плакучую форму. Плоды её горят в листве с августа до середины зимы в снегу. Кроме того, ягоды привлекают птиц. Липа и орешник дадут изящную графику ветвей. Так что и живая арка может быть всесезонным акцентом.Сделать вечнозеленую арку можно из плакучих хвойных, например, ели обыкновенной Инверса (Picea abies Inversa). Взять полностью взрослые растения не получится, они должны быть сформированы на арке, но результат стоит ожиданий.
            .row
                .col-12
                    button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong") Замовити ландшафтний дизайн терраси
    section.cmp-articles.articlepage
        .section-articles.section-wrapper.container
            .row
                .col-12
                    h3.text-center.title Статі
                    p.text-center.subtext Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
            .row
                .col-12.col-md-6.item
                    .content.article-content
                        .img.article1
                        .articleName Благоустрій садової ділянки
                        .demo Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                .col-12.col-md-6.item
                    .content.article-content
                        .img.article2
                        .articleName Ландшафтний дизайн садової ділянки 
                        .demo Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                .col-12.col-md-6.item
                    .content.article-content
                        .img.article3
                        .articleName Благоустрій садової ділянки
                        .demo Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
                .col-12.col-md-6.item
                    .content.article-content
                        .img.article4
                        .articleName Ландшафтний дизайн садової ділянки 
                        .demo Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.
