section#header-section
    .container-fluid
        .row
            .col-xs-12.col-sm-6.col-md-3.company
                .logo
                .name-wrapper
                    .name назва компанії
                    .subname ландшафтний дизайн
            .col-xs-12.col-sm-6.col-md-3.social
                .social-wrapper
                    .social-icon.youtube
                    .social-icon.facebook
                    .social-icon.instagram
            .col-xs-12.col-sm-6.col-md-3.contact
                .phone-wrapper
                    .phone-icon
                    .phoneNumber +38 (096) 554-98-98
            .col-xs-12.col-sm-6.col-md-3.ordering
                .ordering-wrapper
                    button.btn.btn-primary
                        .iconMessage
                        .button-name Замовити послугу