$site-gray: #455a64;
$site-dark: #263238;
$site-green: #32b076;
$pt-regular: 'PTSansRegular';
$pt-bold: 'PTSansBold';
$source-regular: 'SourceSansPro-Regular';
$source-semibold: 'SourceSansPro-Semibold';
$source-bold: 'SourceSansPro-Bold';
